<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pico.green.min.css">
    <title>Sign-in to VocabPractice</title>
</head>

<body class="container">
    <header>
        <h2>sign in</h2>
    </header>
    <main>
        <form action="/sign-in" method="POST">
            <fieldset role="group">
                <!-- <label for="username">username</label> -->
                <input type="text" id="username" name="username" placeholder="username">
                <input type="submit" value="sign in">
            </fieldset>
        </form>
        </div>
        </div>
    </main>
</body>

</html>